<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"> ਸਿਮਰਨ ਜਿਉਲਰ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav  ml-auto">
        <a class="nav-item nav-link list" routerLink = "" >ਹੋਮਪੇਜ (Home)</a>
        <a class="nav-item nav-link list" routerLink = "Manu"> ਕਾਰੀਗਰ (Manufacturers)</a>
        <a class="nav-item nav-link list" routerLink = "Cust"> ਗਾਹਕ (Customers)</a>
        <a class="nav-item nav-link list" routerLink = "Contact"> ਮਿਲੋ (Contact Us)</a>
        </div>
    </div>
</nav>
