<hr>
<h4>ਕੱਚਾ ਹਿਸਾਬ (Quick Quote)</h4>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
        <button class="btn btn-primary" (click)="psel()" >ਪੀਸ (Piece)</button> &nbsp;
        <button class="btn btn-primary" (click)="wsel()" >ਵਜਨ (Weight)</button>
        </div>
    </div>
<br/>

<form class="form-group" >
    <div [hidden] = "!piecetable" class="container-fluid">
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="CommoName" >ਨਾਮ (Name of Customer):</label>
                <input type="text" class="form-control" name="commoName" ngModel>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="commoType" > ਧਾਤ (Metal):</label>
                <select class="form-control" name="commoType" ngModel >
                    <option>ਸੋਨਾ (Gold)</option>
                    <option>ਚਾਂਦੀ (Silver)</option>
                    <option>ਬੰਦੇਲ/ਤਾਂਬਾ (Copper)</option>
                </select>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="metalOfCommo" > ਇੱਕ ਗਰਾਮ ਦਾ ਭਾਅ   (Metal Price) <span class="p">/gram</span>:</label>
                <input type="text" class="form-control" name="commoPrice" ngModel>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="weight" > ਪੀਸਾਂ ਦੀ ਗਿਣਤੀ (Piece Count): <span class="p"> in number</span></label>
                <input type="number" class="form-control" name="piece" step="0.01" ngModel>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="labour" > ਟੈੰਚ (Purity): <span class="p">percentage %</span></label>
                <input type="number" class="form-control" name="purity" step="0.01" ngModel>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="labour" > ਲੇਬਰ (Labour): <span class="p">percentage %</span></label>
                <input type="number" class="form-control" name="labour" step="0.01" ngModel>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="making" > ਬਣਵਾਈ (Making): <span class="p">percentage %</span></label>
                <input type="number" class="form-control" name="making" step="0.01" ngModel>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="wastage" > ਵੇਸਟੇਜ/ਵੇਸਟੀ (Wastage): <span class="p">percentage %</span></label>
                <input type="number" class="form-control" name="wastage" step="0.01" ngModel>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12">
                <button class="btn btn-success" (click) = "displayResult()"  type="submit">ਹਿਸਾਬ ਲਗਾਓ (Calculate)</button>
            </div>
        </div>
    </div>
</form>

<form #weightCalc = "ngForm" class="form-group" (ngSubmit) = "calc(weightCalc.value)" >
    <div [hidden] = "!weighttable" class="container-fluid">
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="CommoName" >ਨਾਮ (Name of Customer):</label>
                <input type="text" class="form-control" name="commoName" ngModel>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="commoType" > ਧਾਤ (Metal):</label>
                <select class="form-control" name="commoType" ngModel >
                    <option>ਸੋਨਾ (Gold)</option>
                    <option>ਚਾਂਦੀ (Silver)</option>
                    <option>ਬੰਦੇਲ/ਤਾਂਬਾ (Copper)</option>
                </select>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="metalOfCommo" > ਇੱਕ ਗਰਾਮ ਦਾ ਭਾਅ   (Metal Price) <span class="p">/gram</span>:</label>
                <input type="text" class="form-control" name="commoPrice" ngModel>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="weight" > ਵਜਨ (Weight): <span class="p"> in grams</span></label>
                <input type="number" class="form-control" name="weight" step="0.01" ngModel>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="labour" > ਟੈੰਚ (Purity): <span class="p">percentage %</span></label>
                <input type="number" class="form-control" name="purity" step="0.01" ngModel>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="labour" > ਲੇਬਰ (Labour): <span class="p">percentage %</span></label>
                <input type="number" class="form-control" name="labour" step="0.01" ngModel>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="making" > ਬਣਵਾਈ (Making): <span class="p">percentage %</span></label>
                <input type="number" class="form-control" name="making" step="0.01" ngModel>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="wastage" > ਵੇਸਟੇਜ/ਵੇਸਟੀ (Wastage): <span class="p">percentage %</span></label>
                <input type="number" class="form-control" name="wastage" step="0.01" ngModel>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12">
                <button class="btn btn-success" (click) = "displayResult()"  type="submit">ਹਿਸਾਬ ਲਗਾਓ (Calculate)</button>
            </div>
        </div>
    </div>

    <div class="row displayResult" [hidden] = "displayResultDiv" >
        <table class="table table-sm">
            <tr>
                <th>Name of Commodity :</th>
                <td> {{commoName}} </td>
            </tr>
            <tr>
                <th>Type of Commodity :</th>
                <td> {{commoType}} </td>
            </tr>
            <tr>
                <th>Metal Price :</th>
                <td> {{commoPrice}} </td>
            </tr>
            <tr>
                <th>Weight of Metal :</th>
                <td> {{weight}} </td>
            </tr>
            <tr>
                <th>Purity % :</th>
                <td> {{purity}} </td>
            </tr>
            <tr>
                <th>Labour % :</th>
                <td> {{labour}} </td>
            </tr>
            <tr>
                <th>Making % :</th>
                <td> {{making}} </td>
            </tr>
            <tr>
                <th>Wastage % :</th>
                <td> {{wastage}} </td>
            </tr>
            <tr>
                <th>Total Wastage % :</th>
                <td> {{wastePercentage}} </td>
            </tr>
            <tr>
                <th>Weight After Calculation :</th>
                <td> {{deductWeight}} </td>
            </tr>
            <tr>
                <th>Weight Wastage </th>
                <td> {{realWeight}} </td>
            </tr>
            <tr>
                <th>Cost :</th>
                <td> {{total}} </td>
            </tr>
        </table>
    </div>
</form>

</div>