<hr>
<h4>Quick Quote</h4>
<hr>
<div class="container-fluid">
    <div class="row">
    <div class="col-sm-12 col-lg-12">
       <h6>Please Select Type</h6>
       <div class="row">
           <div class="col-sm-3 text-center"><button class="btn btn-primary">Piece</button></div>
           <div class="col-sm-3 text-center"><button class="btn btn-primary">Weight</button></div>
       </div>
    </div>
    </div>
    <br />

<form class="form-group" >
    <div class="container-fluid">
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="nameOfCommo" >Name:</label>
                <input type="text" class="form-control" id="nameOfCommo">
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="typeOfCommo" >Type:</label>
                <input type="text" class="form-control" id="typeOfCommo">
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="metalOfCommo" >Metal:</label>
                <select class="form-control" id="metalOfCommo">
                    <option>Select</option>
                    <option>Gold</option>
                    <option>Silver</option>
                    <option>Platinum</option>
                </select>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="metalOfCommo" >Metal Price :</label>
                <input type="text" class="form-control" id="priceOfCommo">
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">

                <label for="weightOfCommo" >Weight:</label>
                <input type="text" class="form-control" id="weightOfCommo">
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <label for="pieceOfCommo" >No of Pieces:</label>
                <input type="number" class="form-control" id="pieceOfCommo">
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12">
                <button class="btn btn-success">Calculate</button>
            </div>
        </div>
    </div>
</form>

</div>