.Kirpa{
    padding-top: 0.5rem;
    font-family: Helvetica;
    color: navy;
    text-align: center;
    justify-content: center;
}
.container-fluid
{
    background-color: rgba(85, 185, 247, 0.514);
}
.navi
{
    padding: 0px;
}