.Kirpa{
    padding-top: 0.5rem;
    font-family: Helvetica;
    color: navy;
    text-align: center;
    justify-content: center;
}
.navi
{
    padding: 0px;
}
.main
{
    width: auto;
    overflow-y: auto;
    height: 455px;
}
.footer {
    position: absolute;
    color: white;
    background-color: #0275d8;
    justify-content: center;
}