<div class="side container">
    <div class="row table-responsive">
        <h5 class="text-center "> Commodities </h5>
        <table class="table table-sm table-striped">
            <tr>
                <th>Gold:</th>
                <td>51000</td>
            </tr>
            <tr class="">
                <th>Silver:</th>
                <td>51000</td>
            </tr>
            <tr>
                <th>Gold:</th>
                <td>51000</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <h5 class="text-center"> Currencies</h5>
        <table class="table table-sm">
            <tr>
                <th>US $</th>
                <td>76</td>
            </tr>
            <tr>
                <th>EU</th>
                <td>112</td>
            </tr>
            <tr>
                <th>Gold:</th>
                <td>51000</td>
            </tr>
        </table>
    </div>
</div>
